<?php

/**
 * Laika Framework
 * Author: Showket Ahmed
 * Email: riyadhtayf@gmail.com
 * License: MIT
 * This file is part of the Laika Framework.
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Laika\App\Afterware{{NAMESPACE}};

// Deny Direct Access
defined('APP_PATH') || http_response_code(403).die('403 Direct Access Denied!');

class {{NAME}}
{
    /**
     * @param $next Pass Parameters to Next Afterware
     * @param $request $request Request Object
     * @param $response $response Response Object
     * @param $output Controller Output
     * @param $params Parameters
     */
    public function terminate($next, $request, $response, $output, $params): string
    {
        // After controller
        // Write Code From Here ......

        // You can modify the Output if needed
        return $next($output);
    }
}
