<?php

/**
 * Laika Framework
 * Author: Showket Ahmed
 * Email: riyadhtayf@gmail.com
 * License: MIT
 * This file is part of the Laika Framework.
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Laika\App\Controller{{NAMESPACE}};

// Deny Direct Access
defined('APP_PATH') || http_response_code(403).die('403 Direct Access Denied!');

class {{NAME}}
{
    /**
     * Args contains Request Object and Other Route Parameters
     */
    public function index()
    {
        /**
         * To use Template Use Laika\Core\App\Template
         * $tpl = new Template();
         * 
         * Assign Data
         * $this->assign('title', '{{NAME}} Controller Page');
         * 
         * // load View File
         * return $this->view('home');
         */

        return "<h1>This is '{{NAME}}' Controller</h1>";
    }
}
