<?php

declare(strict_types=1);

// Namespace
namespace Laika\App\Migration;

// Deny Direct Access
defined('APP_PATH') || http_response_code(403).die('403 Direct Access Denied!');

use Laika\Model\Schema\Blueprint;
use Laika\Model\Schema\Schema;

class {{NAME}}
{
    /**
     * Migrate Table
     */
    public function migrate()
    {
        Schema::on()->createIfNotExists('{{TABLE}}', function (Blueprint $t) {
            $t->id();
            $t->uid();
            $t->string('status', 50);
            $t->deleted();
            $t->string('status')->comment('This is {{TABLE}} Status');
        });
    }
}
