<?php

/**
 * Laika Framework
 * Author: Showket Ahmed
 * Email: riyadhtayf@gmail.com
 * License: MIT
 * This file is part of the Laika Framework.
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Laika\App\Model{{NAMESPACE}};

// Deny Direct Access
defined('APP_PATH') || http_response_code(403).die('403 Direct Access Denied!');

use Laika\Model\Blueprint;
use Laika\Core\App\Model;
use Laika\Model\Schema;

class {{NAME}} extends Model
{
    // Table Name
    public string $table = '{{TABLE_NAME}}';

    // Primary Key Column Name
    public string $id = '{{PRIMARY_KEY}}';

    // UUID Column Name
    public string $uuid = 'uuid';

    /**
     * Create {{TABLE_NAME}} if Doesn't Exists
     * @return void
     */
    public function migrate()
    {
        // Maigrate Table
        Schema::table($this->table)
                ->create(function (Blueprint $e) {
                    $e->column($this->id)->int()->auto();
                    $e->column('sample')->varchar();
                    $e->column('status')->enum(['active', 'inactive'], 'inactive');
                })->execute();
        return;
    }
}
