<?php
/**
 * Laika PHP MVC Framework
 * Author: Showket Ahmed
 * Email: riyadhtayf@gmail.com
 * License: MIT
 * This file is part of the Laika PHP MVC Framework.
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

declare(strict_types=1);

namespace App\Relay{{NAMESPACE}};

use Laika\Core\Relay\Relay;

/**
 * @method static static method_1(string $key)
 * @method static static method_2()
 * @method static static method_3(array $arg)
 */
class {{NAME}} extends Relay
{
    protected static function getRelayAccessor(): string
    {
        return '{{KEY}}';
    }
}